*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.flex{
    display: flex;
}
/* Button */
.button{
    padding: 20px 25px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 5px;
}
.button a{
    text-decoration: none;
    color: #005FAC;
}
/* Banner Design */
.banner{
    vertical-align: middle;
    width: 100%;
    height: 1008px;
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 17% 10% 10% 55%;
    color: #FFFFFF;
    text-align: right;
}
.banner-heading{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 24px;
}
.banner-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 34px;
    padding-left: 100px;
}


/* Failure section */
.failure{
    width: 1066px;
    margin: 150px auto;
}
.failure-descripton{
    height: 100%;
    align-items: center;
    margin-top: 200px;
    margin-left: 50px;
}
.failure-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}
.failure-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;

}

.failure-list li{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
    list-style: none;
    
    list-style-position: inside;
}
/* container */
.container{
    margin: 50px 230px;
}
/*My plan*/
.plan-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-bottom: 50px;
}
.plan{
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
}
.plan div{
    text-align: center;
}
.plan div img{
    margin-bottom: 24px;
    height: 93px;
}
.plan div h2{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 24px;
}
.plan div p{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
    margin-bottom: 20px;
}

/* gradiant-bg */
.gradiant-bg{
    height: 300px;
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}
.gradiant-bg::before{
    content: '';
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    z-index: 1;
}
.gradiant-content{
    position: relative;
    z-index: 2;
    padding: 60px 800px 60px 64px ;
}
.gradiant-content h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* Footer */
footer{
    height: 577px;
    width: 100%;
    background-color: #151414;
    margin-top: 100px;
}
footer section{
    padding: 130px 230px;
    justify-content: space-between;
}
.footer-column1{
    width: 50%;
}
.footer-column1 h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer-column1 p, .email, .phone{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-right: 120px;
    margin-bottom: 24px;
}
.footer-icon div{
    margin-right: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.footer-column2 div h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
::placeholder {
    color: #F3F3F3;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.email-form{
    padding: 20px;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 16px;
}
.subscribe-form{
    background: #005FAC;
    border-radius: 8px;
    border: none;
    padding: 20px 35px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}